{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Customer Profile</title>
{% endblock %}

{% block content %}

<div class="container" style="display: grid;  justify-content: center;">
    <h1><B><U>CUSTOMER PROFILE</U></B></h1>
    <div>
        <label for="inputEmail4" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputEmail4" style="width: 400px;" name="customer_name" value="{{customer_profile.name}}">
    </div>
    <div>
        <label for="inputPassword4" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="inputPassword4" style="width: 400px;" name="customer_mobile" value="{{customer_profile.mobile_number}}">
    </div>
    <div>
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputEmail4" style="width: 400px;" name="customer_phone" value="{{customer_profile.email}}">
    </div><br>
</div>
{% endblock %}