{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>Add Product</title>
{% endblock %}

{% block content %}
<h1
    style="text-align: center; color: rgb(50, 50, 134); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 30px;margin-top: 20px;">
    <u>ADD PRODUCT </u>
</h1><br>
<div class="container"
    style="background-color: rgb(147, 228, 147); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 650px; width: 400px;border-radius: 10px;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="nameField" name="p_name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Product Description</label>
            <textarea class="form-control" id="descriptionField" rows="1" name="p_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Category</label>
            <input type="text" class="form-control" id="categoryField" name="p_category">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Number</label>
            <input type="text" class="form-control" id="numberField" name="p_no">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Current Stock</label>
            <input type="text" class="form-control" id="stockField" name="p_stock">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="text" class="form-control" id="priceField" name="p_price">
        </div>
        <label for="exampleFormControlInput1" class="form-label">Product Image</label>
        <div class="input-group mb-3">
            <input type="FILE" class="form-control" id="inputGroupFile02" name="p_image">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="submit" class="btn btn-success">Submit Product</button>
    </form>
</div>
<br>
{% endblock %}