{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
<h1
    style="text-align: center; color: rgb(50, 50, 134); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 30px;margin-top: 20px;">
    <u>CHANGE PASSWORD </u>
</h1><br>
<div class="container"
    style="background-color: rgb(147, 228, 147); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 350px; width: 400px;border-radius: 10px;">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">old password</label>
            <input type="password" class="form-control" name="old_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">new password</label>
            <input type="password" class="form-control" name="new_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">confirm Password</label>
            <input type="password" class="form-control" name="confirm_password">
        </div>

        <button type="submit" class="btn btn-success">Change password</button>
        {{ error }} {{ success }}
    </form>
</div>
{% endblock %}