{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'style/admin_home_style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'style/admin_home_style.css' %}">
    <title>Admin_Home</title>

</head>

<body>
    <div class="container-fluid">
        <h1 style="text-align: center; color: rgb(108, 160, 160);">
            <U><B>ADMIN HOME</B></U>
        </h1>
        <div class="row">
            <div class="grid-container">

                <div class="item1"><button class="btn btn-success"><a href="{% url 'ecom_admin:approve sellers' %}" style="text-decoration: none;color: white;">APPROVE SELLER</a></button></div>
                <div class="item2"><button class="btn btn-success"><a href="{% url 'ecom_admin:view sellers' %}"style="text-decoration: none;color: white;">VIEW SELLER</a></button></div>
                <div class="item3"><button class="btn btn-success"><a href="{% url 'ecom_admin:view customers' %}"style="text-decoration: none;color: white;">VIEW CUSTOMER</a></button></div>
                <div class="item4"><button class="btn btn-success"><a href="{% url 'ecom_admin:view orders' %}"style="text-decoration: none;color: white;">VIEW ORDERS</a></button></div>
                <div class="item5"><button class="btn btn-success"><a href="{% url 'ecom_admin:recent updates' %}"style="text-decoration: none;color: white;">RECENT UPDATES</a></button></div>
                <div class="item6"><button class="btn btn-success"><a href="{% url 'ecom_admin:view products' %}"style="text-decoration: none;color: white;">VIEW PRODUCTS</a></button></div>
                <div class="item7"><button class="btn btn-success"><a href="{% url 'ecom_admin:remove customer' %}"style="text-decoration: none;color: white;">REMOVE CUSTOMER</a></button></div>
                <div class="item8"><button class="btn btn-success"><a href="{% url 'ecom_admin:remove seller' %}"style="text-decoration: none;color: white;">REMOVE SELLER</a></button></div>
                <div class="item9"><button class="btn btn-success"><a href="{% url 'ecom_admin:remove product' %}"style="text-decoration: none;color: white;">REMOVE PRODUCT</a></button></div>
            </div>
        </div>
    </div>
</body>

</html>