.maindiv{
    background-color: #004080;
    height: 800px;
    width: 1300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
/* .t2{
    background-color: yellow;
    color: black;
    width: 1300px;
    height: 60px;
}
.c1{
    margin-top: 0px;
}
h1{
    margin-bottom: 0px;
    display: inline;
}
li{
    color: white;
    display: inline;
    margin-left: 0px;
} */

/* navbar{
    
} */

li{
    display: inline;
    color: white;
    padding: 10px 20px ;
}