.parent{
    background-color: rgb(60, 204, 60);
    height: 550px;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 100px;
}

.c1{
    background-size: cover;
    background-image: url("../images/brazil1.jpg");
    grid-column-start: 1;
    grid-column-end: 2;
}
.c2{
    background-size: cover;
    background-image: url("../images/brazil2.jpg");
    grid-column-start: 2;
    grid-column-end: 4;
}
.c3{
    background-size: cover;
    background-image: url("../images/brazil3.jpg");
}
.c4{
    background-size: cover;
    background-image: url("../images/brazil4.jpg");
}
.c5{
    background-size: cover;
    background-image: url("../images/brazil5.webp");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.c6{
    background-size: cover;
    background-image: url("../images/brazil6.jpg");
    grid-column-start: 1;
    grid-column-end: 3;
}